.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.calculator {
  display: grid;
  grid-template-areas:
  "display display display display"
  "main main main operations"
  "main main main operations"
  "main main main operations"
  "main main main operations"
  "main main main operations";
  width: 330px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: rgba(3, 3, 50, 0.2);
  font-size: 1.4rem;
}

.button:hover {
  background-color: rgba(181, 181, 200, 0.5);
}

